<h2>Reports</h2>

<%= form_tag('/reports/variants_by_order', method: 'get') do %>
  <%= label_tag(:order_cycle_id, 'Order cycle') %>
  <%= select_tag('order_cycle_id', options_from_collection_for_select(order_cycles, 'id', 'name')) %>
  <%= submit_tag('Submit') %>
<% end %>
