<table>
  <thead>
    <tr>
      <th>Product</th>
    <% customers.each do |customer| %>
      <th><%= customer.name %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>

  <% variants_with_line_items.each do |(variant, line_items)| %>
    <tr>
      <td><%= products[variant.to_s].first.name %> - Variant: <%= variant %></td>
    <% line_items.each do |line_item| %>
      <td><%= line_item.quantity %></td>
    <% end %>
    </tr>
  <% end %>

  </tbody>
</table>
