<table>
  <thead>
    <tr>
      <th>Product</th>
    <% customers.each do |customer| %>
      <th><%= customer.name %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% products.each do |product| %>
    <td><%= product.name %></td>
  <% end %>
  </tbody>
</table>
